# General Formatting
--indent 4
--maxwidth 100
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first

# Spacing & Line Breaks
--decimalgrouping 3,6
--binarygrouping 4
--octalgrouping 4
--hexgrouping 4
--linebreaks lf
--commas always
--trailingCommas always
--semicolons never
--emptybraces newline
--nospaceoperators false

# Structuring Code
--self insert
--selfrequired bound
--redundantSelf remove
--redundantParens remove
--redundantRawValues remove
--redundantType explicit
--redundantBackticks remove
--redundantPatternModifiers remove
--redundantLet remove

# Access Control & Safety
--strongOutlets warn
--redundantReturn remove
--redundantSelf remove
--redundantInit remove
--redundantClosure return

# Swift 6 Features
--swiftversion 6.0.3
--indentcase true
--elseOnSameLine false
--commas inline
--modifierOrder accessibility,override,static,class,mutating
--patternlet inline
--shortOptionals always
--concurrency inline

# Function & Closure Formatting
--trailingClosures always
--redundantClosureSyntax remove
--shortClosures inline
--wrapclosures before-first

# Enum & Structs
--empty return
--staticSelf remove
--useVoid true

# Imports
--groupImports true
--importGrouping testable,foundation,lowercase
--sortedImports true

# Documentation & Comments
--commentSpacing always
--blankLinesAroundMark 1
--blankLinesBetweenScopes 1
--ranges nospace
